<html>
    <title>unique_name</title>
    <link rel="stylesheet" href="/static/list.css">
    <head>
        <div id="header">
            <h1>You Name サイト</h1>
            <p>３つの要素を埋めて下さい。</p>
        </div>
    </head>
    <body>
        <div id="frame">
        <input type="text" size="30"> <input type="text" size="30"> <input type="text" size="30">
        </div>
        <div id="contents">
            <p>画像 性格 癖</p>
        </div>
    </body>
    <form>
        <input type = 'submit' value = '考える'>
    </form>
</html>
